appdirs==1.4.3
colorama==0.3.8
configparser==3.5.0
lxml==3.7.3
namedlist==1.7
packaging==16.8
pkg-resources==0.0.0
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
pytest-allure-adaptor==1.7.7
pytest-base-url==1.3.0
pytest-html==1.14.2
pytest-metadata==1.3.0
pytest-selenium==1.9.1
pytest-testrail==0.0.11
pytest-variables==1.6.0
requests==2.11.1
selenium==3.4.0
simplejson==3.10.0
six==1.10.0
